<h2>Edit <%=web.name%></h2>
<form action="/webs/<%=web._id%>?_method=put" method="POST">
<label for="web[name]" >Title/Name:</label>   
<input type="text" placeholder="Type the Title/Name..." name="web[name]"  value="<%=web.name%>">
<label for="web[category]" >Category:</label>  
<input type="text" placeholder="Type Category..." name="web[category]" value="<%=web.category%>">
<label for="web[url]" >Url:</label>  
<input type="text" placeholder="url" name="web[url]" value=<%=web.url%>>
<input type="submit">
</form>